:root {
  --blue: #362FBB;
  --purple: #712275;
  --pink: #F97698;
  --orange: #FFB845;
  --transition: var(--pink), var(--blue);
}

/* Home.css */
.home-page,
.profile-page,
.order-history-page,
.favorites-page,
.artwork-page {
  background: linear-gradient(-45deg, var(--transition));
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: var(--orange);
}

.statistics-row {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container .search-bar {
  flex: 1;
}

.search-container .search-button {
  margin-left: 10px;
  align-items: center;
}

.login-page,
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, var(--transition));
}

.login-box,
.signup-box {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  max-width: 320px; /* Set the maximum width for mobile devices */
  width: 60%;
  position: relative;
}

.go-back-link {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.login-btn {
  background: linear-gradient(-45deg, var(--transition));
  width: 80%;
  border-radius: 10px;
  color: #fff;
}

.signup-link {
  margin-top: 50px;
}

.form-label {
  text-align: left;
  margin-left: 10px;
}
.social-text {
  color: var(--orange);  
}

.search-btn {
  background: rgba(119, 136, 153, 0.64);
  border-radius: 10px;
  color: lawngreen;
}

.number {
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  position: fixed;
  bottom: 0;
}

.footer-button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.footer .button {
  color: #fff;
}

.footer .footer-footnote {
  margin-top: auto;
}

.footer-icon {
  margin-right: 15px;
}

#footnote {
  font-size: x-small;
  margin-left: 17px;
}

.login-footer {
  background-color: green;
  border-radius: 15px;
  color: #fff;

}

.logout-footer {
  background-color: red;
  border-radius: 15px;
  color: #fff;
}

.pages-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  /* Media query for screens wider than 768px (e.g., tablets, desktops) */
  .login-box {
    max-width: 400px; /* Adjust the maximum width for larger screens if needed */
  }
  .footer-button-group {
    justify-content: space-between;
  }
}