:root {
  --blue: #362FBB;
  --purple: #712275;
  --pink: #F97698;
  --orange: #FFB845;
}

/* Home.css */
.home-page {
  background: linear-gradient(-45deg, #F97698, #362FBB);
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: var(--orange); /* Change the title color to pink */
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container .search-bar {
  flex: 1;
}

.search-container .search-button {
  margin-left: 10px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  
}

.pages-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}